{{> layout/header}}
<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>글쓰기 화면입니다</b></div>
        <div class="card-body">
            <form id="contentForm" action="/board/save" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title">
                </div>
                <div class="editor-menu">
                    <button id="btn-bold" type="button" style="border-radius: 4px">
                        <b>굵게</b>
                    </button>
                    <button id="btn-italic" type="button" style="border-radius: 4px">
                        <i>기울기</i>
                    </button>
                    <button id="btn-underline" type="button" style="border-radius: 4px">
                        <u>밑줄</u>
                    </button>
                    <button id="btn-strike" type="button" style="border-radius: 4px">
                        <s>중간선</s>
                    </button>
                    <input name="imgFiles" id="imgFiles" type="file" style="border-radius: 4px" accept="image/*"
                           multiple>
                </div>
                <div id="content" contenteditable="true"
                     style="padding: 16px 24px;border: 1px solid #D6D6D6;border-radius: 4px;"></div>
                <input type="hidden" name="content" id="inputContent">
                <script>
                    const content = document.getElementById('content');
                    const inputContent = document.getElementById('inputContent');
                    const btnBold = document.getElementById('btn-bold');
                    const btnItalic = document.getElementById('btn-italic');
                    const btnUnderline = document.getElementById('btn-underline');
                    const btnStrike = document.getElementById('btn-strike');
                    const contentForm = document.getElementById('contentForm');

                    btnBold.addEventListener('click', function () {
                        setStyle('bold');
                    });

                    btnItalic.addEventListener('click', function () {
                        setStyle('italic');
                    });

                    btnUnderline.addEventListener('click', function () {
                        setStyle('underline');
                    });

                    btnStrike.addEventListener('click', function () {
                        setStyle('strikeThrough')
                    });

                    function setStyle(style) {
                        document.execCommand(style);
                        focusEditor();
                    }

                    function focusEditor() {
                        content.focus({preventScroll: true});
                    }

                    contentForm.addEventListener('submit', function () {
                        inputContent.value = content.innerHTML;
                    });

                    $(document).ready(function () {
                        const content = document.getElementById('content');
                        const observer = new MutationObserver(function (mutations) {
                            mutations.forEach(function (mutation) {
                                if (mutation.removedNodes.length) {
                                    mutation.removedNodes.forEach(function (node) {
                                        if (node.nodeName === "IMG" || (node.nodeName === "DIV" && node.querySelector("img"))) {
                                            console.log("이미지가 삭제되었습니다.");
                                            // 이미지 삭제 후 필요한 추가 처리 로직
                                        }
                                    });
                                }
                            });
                        });

                        const config = {childList: true, subtree: true};
                        observer.observe(content, config);

                        $('#imgFiles').change(function (event) {
                            const files = this.files;
                            for (let i = 0; i < files.length; i++) {
                                const file = files[i];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        const imgContainer = document.createElement('div');
                                        imgContainer.style.display = 'inline-block';
                                        imgContainer.style.margin = '10px';
                                        const img = document.createElement('img');
                                        img.src = e.target.result;
                                        img.style.width = '300px';
                                        img.style.height = '300px';
                                        imgContainer.appendChild(img);
                                        content.appendChild(imgContainer);
                                    };
                                    reader.readAsDataURL(file);
                                }
                            }
                            // 파일 입력 후 초기화
                            this.value = "";
                        });
                    });
                </script>
                <button type="submit" class="btn btn-primary form-control" style="margin-top: 15px">글쓰기완료</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}